# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# VSCode settings
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
config.py

# Google service account key
service-account.json

# Logs
*.log
logs/
